<div class="panel panel-heading">
  <center>
    <h1><%= t "project_name" %></h1>
  </center>
</div>
<div class="panel-body">
  <center>
    <h2><%= t "static_pages.home.team" %></h2>
    <h3><%= t "static_pages.home.ten1" %></h3>
    <h3><%= t "static_pages.home.ten2" %></h3>
    <br/>
    <%= link_to t("static_pages.home.signupnow"), new_user_registration_path,
      class: "btn btn-lg btn-primary" %>
  </center>
</div>
