<% unless session[:cart].blank? %>
  <center><h1><%= t"products.yourcart" %></h1></center>
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th><%= t "products.name" %></th>
        <th><%= t "products.description" %></th>
        <th><%= t "products.price" %></th>
        <th><%= t "products.image" %></th>
        <th><%= t "products.quantity" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @product_with_quantity.each do |product, quantity| %>
        <% if quantity.present? %>
          <tr>
            <td><%= link_to product.name, product_path(product) %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td>
              <% if product.image.present? %>
                <%= link_to image_tag(product.image, size: Settings.admin.size),
                  product_path(product) %>
              <% else %>
                <%= link_to image_tag(Settings.admin.url,
                  size: Settings.admin.size),"#" %>
              <% end %>
            </td>
            <td>
              <%= form_tag "/cart/#{product.id}", method: :patch do %>
                <%= number_field_tag :quantity, {}, value: quantity, min: "1",
                  max: product.quantity, style: "width: 50px;" %>
                <%= button_tag type: "submit", class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to "", "/cart/#{product.id}/delete", method: :delete,
                data: {confirm: t("views.admin.category.index.deleteconfirm")},
                class:"glyphicon glyphicon-trash" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <hr>
  <% if can? :create, Order %>
    <%= link_to t("views.cart.index.order"),
      current_user ? new_user_order_path(current_user) : new_user_session_path,
      class: "btn btn-primary" %>
  <% end %>
  <h4>
    <%= link_to t("views.cart.index.more"), products_path %>
  </h4>
<% else %>
  <h3>
    <%= t "views.cart.index.noitemcart" %>
    <%= link_to t("views.cart.index.newcart"), products_path %>
  </h3>
<% end %>
