<div id="delete-<%=comment.id%>-comment">
  <div class="comment-card">
    <%= image_tag comment.user.avatar.url,
      size: Settings.product.comment.avatar_size %>
    <%= comment.user.name %>
    <br>
    <%= time_ago_in_words(comment.created_at) %>
    <%= t("views.comments.ago") %>
    <br>
    <div>
      <% if can? :update_destroy, Comment %>
        <% if user_signed_in? %>
          <%if comment.user_id == current_user.id %>
            <%= link_to t("views.comments.edit"),
              edit_product_comment_path(comment.product, comment), remote: true %>
            <%= link_to t("views.comments.delete"),
              product_comment_path(comment.product, comment),
              method: :delete %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div id="edit-<%=comment.id%>-comment">
      <%= render partial: "comments/show_comment", locals: {comment: comment} %>
    </div>
  </div>
</div>
