<%= form_for [@product, @comment], remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :rating %>
  <div id="rating-form">
  </div>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit yield: :button_text, class: "btn btn-primary" %>
<% end %>
