<center><h1><%=t("user.edit_profile") %></h1></center>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :Phone %><br />
        <%= f.phone_field :phone_number, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :Address %><br />
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %>
          <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <span class="picture">
        <%= f.label :Avatar %>
        <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
      </span>

      <br/>
      <div class="actions">
        <%= f.submit t("user.Update"), class: "btn btn-success btn-signup" %>
        <%= link_to t("user.Cancel"), root_path,
          data:{confirm: t("views.admin.category.index.deleteconfirm")} %> |
          <%= link_to t("users.backs"), :back %>
      </div>
    <% end %>
    <br>
    <br>
  </div>
</div>
