<div class="row">
  <div class="col-md-4">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url, size: Settings.size  %>
    <% else %>
      <%= image_tag Settings.avatar.url, size: Settings.size %>
    <% end %>
    <h3><%= t "user.name" %><%= @user.name %></h3>
    <p> <%= t "user.email" %> <%= @user.email %> </p>
    <h3 class="owe">
      <% if @user.coin < Settings.zero %>
        <%= t "user.owe" %><br>
      <% end %>
      <%= t "user.coin" %><%= @user.coin %>
    </h3>
    <h4><%= link_to t("layout.header.editprofile"), edit_user_path %></h4>
  </div>
</div>
