<center>
  <h3><%= t "views.admin.category.edit.h1" %></h3>
  <% provide :button_text, t("views.admin.category.edit.button") %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for [:admin, @category] do |f| %>
        <%= render partial: "shared/error_messages", locals: {object: @category}  %>
        <table class="table-padding2">
          <tr>
            <td><strong><%= t("views.admin.category.form.classify") %>: </strong></td>
            <td>
              <%= text_field(:parent_id, params[:parent_id], value: @parent.title,
                class: "form-control", disabled: true)%>
            </td>
          </tr>
          <br>
          <tr>
          </tr>
          <tr>
            <td><strong><%= f.label :title %>:</strong></td>
            <td><%= f.text_field :title, class: "form-control" %></td>
          </tr>
          <br>
          <br>
          <tr>
            <td colspan="2"><%= f.submit yield: :button_text, class: "btn btn-primary" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</center>
