<h3><%= t "views.admin.category.index.h1" %></h3>

<%= link_to t("views.admin.category.index.newcategorybutton"),
  new_admin_category_path, class: "btn btn-info" %>
<br>
<br>
<table class="table table-hover">
  <tr class="info">
    <th><%= t "stt" %></th>
    <th><%= t "views.admin.category.index.title" %></th>
    <th><%= t "views.admin.category.index.left" %></th>
    <th><%= t "views.admin.category.index.right" %></th>
    <th><%= t "views.admin.category.index.level" %></th>
    <th><%= t "views.admin.category.index.function" %></th>
  </tr>
  <%= paginate @categories%>
  <% @category_parent.each_with_index do |category, index| %>
    <tr class="warning">
      <td> <%= Settings.per_page * (@categories.current_page - 1) + index + 1 %></td>
      <td> <%= category.title %> </td>
      <td><%= category.left_id %></td>
      <td><%= category.right_id %></td>
      <td><%= category.level %></td>
      <td>
          <%= link_to edit_admin_category_url(category) do %>
            <span class="glyphicon glyphicon-pencil admin-action" title="edit"></span>
          <% end %>
          <%= link_to admin_category_url(category), method: :delete,
            data: {confirm: t("views.admin.category.index.deleteconfirm")} do %>
            <span class="glyphicon glyphicon-trash admin-action" title="delete"></span>
          <% end %>
      </td>
    </tr>
    <% if Category.have_child(category).any? %>
      <% Category.have_child(category).each do |category| %>
        <tr>
          <td></td>
          <td>- <%= category.title %></td>
          <td><%= category.left_id %></td>
          <td><%= category.right_id %></td>
          <td><%= category.level %></td>
          <td>
              <%= link_to edit_admin_category_url(category) do %>
                <span class="glyphicon glyphicon-pencil admin-action"></span>
              <% end %>
              <%= link_to admin_category_url(category), method: :delete,
                data: {confirm: t("views.admin.category.index.deleteconfirm")} do %>
                <span class="glyphicon glyphicon-trash admin-action"></span>
              <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
