<div class="panel search-padding">
  <center><h1><%= t "views.products.index.h1" %></h1></center>
  <%= search_form_for @search do |f|%>
    <table class="table-padding">
      <tr>
        <td><h4><%= t "views.admin.product.form.category" %></h4></td>
        <td><h4><%= t "products.name" %></h4></td>
        <td><h4><%= t "products.rate" %></h4></td>
        <td><h4><%= t "products.price" %></h4></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <%= f.grouped_collection_select :category_id_eq,
            Category.parent_category.order(:title),
            :children, :title, :id, :title,
            include_blank: true,class: "form-control" %>
        </td>
        <td><%= f.text_field :name_cont, class: "form-control" %></td>
        <td><%= f.number_field :rate_score, step: "0.5", min: "0", max: "5",
          class: "form-control" %></td>
        <td>
          <%= f.label :price_gteq, t("products.pricebet") %>
          <%= f.number_field :price_gteq, step: "0.001", min: "0" %>
          <%= f.label :price_lteq, t("products.and") %>
          <%= f.number_field :price_lteq, step: "0.001", min: "0" %>
        </td>
        <td rowspan="2">
          <%= f.submit t("products.search"), class: "btn btn-info" %>
        </td>
      </tr>
    </table>
  <% end %>
  <table class="table-padding">
    <tr>
      <td><h4>Sort by: </h4></td>
      <td><h4><%= sort_link @search, :name %></h4></td>
      <td><h4><%= sort_link @search, :rate_score %></h4></td>
      <td><h4><%= sort_link @search, :price %></h4></td>
    </tr>
  </table>
</div>
<div class="row">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="col-4 item" >
        <div class="thumbnail product-card">
          <%= link_to product do %>
            <%= image_tag product.image.url,
              size: Settings.product.index.size if product.image? %>
            <div class="caption">
              <h3><%= product.price %> $</h3>
              <h4><%= product.name.upcase %></h4>
              <h4>
                <%= t "views.products.index.ratescore" %>
                <div class="average-comment-rating" data-score="<%= product.rate_score %>"></div>
              </h4>
              <%= link_to t("products.addtocart"), "/cart/#{product.id}",
                method: :post, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <%end%>
</div>
