<div class="row">
  <div class="col-md-4 gallery"">
    <%= image_tag @product.image.url, size: Settings.product.show.size,
      class: "thumbnail zoom"%>
  </div>
  <div class="col-md-8">
    <h2>
      <strong><%= @product.name %> - <%= @product.category.title %></strong>
    </h2>
    <%= social_share_button_tag(@product.name, url: @product) %>
    <h4><%= @product.description %></h4>
    <h3>
      <div class="average-comment-rating" data-score="<%= @product.rate_score %>"></div>
    </h3>
    <h3><%= @product.price %> $</h3>
    <h4><%= t ".quantity" %><%= @product.quantity %></h4>
    <h3>
      <%= link_to t("products.addtocart"), "/cart/#{@product.id}",
        method: :post, class: "btn btn-primary" %>
    </h3>
    <br>
    <br>
    <% if user_signed_in? %>
      <% if can? :create, Comment %>
        <h4>Create new comment: </h4>
        <%= form_for [@product, @comment] do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.label :rating %>
          <div id="rating-form">
          </div>
          <%= f.label :content %>
          <%= f.text_area :content %>
          <%= f.submit yield: :button_text, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
    <% if can? :read, Comment %>
      <div id="show-comment">
        <%= render @comments %>
        <%= paginate @comments %>
      </div>
    <% end %>
  </div>
</div>
