<div class="row">
  <div class="col-md-4 gallery not-scroll">
    <%= image_tag @product.image.url, size: Settings.product.show.size,
      class: "thumbnail zoom" %>
  </div>
  <div class="col-md-8 show-product">
    <h2>
      <strong><%= @product.name %> - <%= @product.category.title %></strong>
    </h2>
    <%= social_share_button_tag(@product.name) %>
    <h3>
      <div class="average-comment-rating" data-score="<%= @product.rate_score %>"></div>
    </h3>
    <h3><%= @product.price %> $</h3>
    <h4><%= t ".quantity" %><%= @product.quantity %></h4>
    <h3>
      <% if @product.quantity > 0 %>
        <%= link_to t("products.addtocart"), "/cart/#{@product.id}",
          method: :post, class: "btn btn-primary" %>
      <% else %>
        <span class="btn btn-danger"><%= t "products.hethang" %> </span>
      <% end %>
    </h3>
    <% unless @product.description.blank? %>
      <h4><%= t "Discription" %></h4>
        <div class="scroll"><%= @product.description %></div>
    <% end %>
    <section id="comments-section">
      <div class="comment-stats">
        <span class="glyphicon glyphicon-comment"></span>
        <strong><%= t"comments" %></strong>
        <strong id="count-comments">(<%= @comments.count %>)</strong>
      </div>
      <hr>
      <% if user_signed_in? %>
        <% if can? :create, Comment %>
          <%= render partial: "comments/new", locals: {exist_comments: @current_comment} %>
        <% end %>
      <% end %>
      <% if can? :read, Comment %>
        <div id="show-comment">
          <%= render @comments %>
        </div>
        <%= paginate @comments %>
      <% end %>
    </section>
  </div>
</div>
