<header class="navbar navbar-fixed-top header-bar">
  <div class="container">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= render "layouts/admin_header" %>
      <% else %>
        <%= render "layouts/user_header" %>
      <% end %>
    <% else %>
      <%= link_to t("title"), root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("static_pages.home.title"), root_path %></li>
          <li>
            <%= link_to t("layout.header.products"), products_path %>
          </li>
          <li><%= link_to t("static_pages.home.signupnow"),
            new_user_registration_path %>
            <li><%= link_to t("layout.header.login"), new_user_session_path %></li>
          </li>
          <li>
            <div class="cart-header">
              <%= link_to "/cart" do %>
                <span class="cart-text">Your cart</span>
                <strong><% unless session[:cart].nil? %>
                  (<%= session[:cart].size %>)
                  <% end %></strong>
                <span class="glyphicon glyphicon-shopping-cart fa-size"></span>
              <% end %>
            </div>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
