<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container container-pading">
      <div id="messagebox">
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message,
            class: "alert alert-#{message_type} text-left" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <div class="footer navbar-fixed-bottom">
      <%= link_to t("layout.footer.about"),
        about_path %> | <%= link_to t("layout.footer.contact"), contact_path %>
    </div>
  </body>
</html>
